<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style2.css" %}">

    <title>About</title>
    </head>
    <body>
        <div class="navline">
            <div class="logo">
                <h1>Sultanbey</h1>
            </div>
            <div class="butt">
                <a href="http://127.0.0.1:8000/home/">
                    <button>Home</button>
                </a>
                <a href="http://127.0.0.1:8000/menu/">
                    <button>Menu</button>
                </a>
            </div>
        </div>
        <div class="main">
            <img src="{% static "sultanbey-restaurant.jpg" %}" alt="">
            <div class="text">
                <h1>About Restaurant</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, voluptates magni numquam eos doloribus dolores soluta corporis excepturi rerum perferendis quasi mollitia ullam magnam quos laborum consequatur, sapiente ab deserunt!
                Expedita qui incidunt veritatis aperiam vero nobis mollitia aliquid ut voluptates! Perferendis aliquam quod dignissimos atque eveniet ullam itaque facilis, eos, sequi eaque minus odio quisquam, minima asperiores illo accusantium?
                Voluptas eos laboriosam vitae atque voluptatum porro eum qui placeat doloremque voluptatem voluptates amet neque, rem dicta dolor pariatur saepe excepturi facere perspiciatis quod eius, quaerat autem ad perferendis. Repellendus?
                Sapiente rem ut dignissimos quia natus rerum eaque delectus nobis? Maiores libero totam magnam a numquam illum possimus saepe accusantium velit, ipsum error laudantium blanditiis nobis omnis ipsa, eaque quasi!
                Aperiam quos eligendi, sequi ab nam error laborum eius dignissimos deserunt fugiat, aspernatur provident dolorum cupiditate quo iusto, facilis impedit est sapiente doloribus. Eos commodi numquam atque nesciunt cum minus.
                Aliquid exercitationem nesciunt ipsa dolorum enim sunt laborum nemo accusantium ratione, aut necessitatibus ut perferendis saepe, eaque veniam quod rem architecto laboriosam ipsam perspiciatis? Totam sed cum omnis quos aliquam.</p>
            </div>
        </div>
</body>
</html>