<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style1.css" %}">
    <title>Home</title>
</head>
<body>
    <div class="navline">
        <div class="logo">
            <h1>Sultanbey</h1>
        </div>
        <div class="butt">
            <a href="http://127.0.0.1:8000/menu/">
                <button>Menu</button>
            </a>
            <a href="http://127.0.0.1:8000/about/">
                <button>About</button>
            </a>
        </div>
    </div>
    <div class="povars">
        <img src="{% static "povars.jpg" %}" alt="">
        <div class="text">
            <h1>Our Povar</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem fugit at reiciendis consectetur tempore quas consequatur doloremque ipsam! Neque, autem aut! Officia molestiae animi, itaque consequatur officiis perferendis quia debitis? 
            Enim, architecto. Qui sint quis provident inventore doloremque neque, non esse facilis fuga minus ex adipisci, alias ab fugiat consectetur amet quae, optio quibusdam! Facere dolor eligendi ad maxime quisquam!
            Repudiandae nobis reiciendis magni aperiam quasi ipsum reprehenderit quae quidem rem? Libero reiciendis ut esse nisi qui autem, laboriosam unde commodi odit ea, aspernatur, pariatur excepturi accusamus ad minima animi.
            Voluptatem dignissimos odio tempore cupiditate? Placeat illum ab quasi necessitatibus, aliquid similique fugiat pariatur eaque quas. Accusantium tempore, cum possimus deleniti optio, voluptates dolorem nemo temporibus qui eaque eius tempora.
            Quisquam ex modi nesciunt eaque neque aperiam inventore voluptatum minima magni, in at odio odit vero illo a voluptatibus asperiores adipisci. Ex optio sunt, vero aspernatur nemo beatae earum molestias.
            Aliquid in voluptates blanditiis itaque ipsum doloribus quibusdam ipsam nihil voluptate, numquam praesentium deleniti ullam dolor, tempora, ut error provident ex quaerat. Saepe rem error dignissimos ea ducimus dolor eos!</p>
        </div>
    </div>
</body>
</html>